<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Book</title>
</head>
<body>
<form th:action="@{/books}" th:method="POST" th:object="${book}">
  <label for="author">Автор</label>
  <input type="text" th:field="*{author}" id="author">
  <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}" style="color: red">Author Error</p>
  <br>
  <label for="title">Название</label>
  <input type="text" th:field="*{title}" id="title">
  <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red">Name Error</p>
  <br>
  <label for="year">Год написания</label>
  <input type="text" th:field="*{year}" id="year">
  <p th:if="${#fields.hasErrors('year')}" th:errors="*{year}" style="color: red">Year Error</p>
  <br>
  <input type="submit" value="Добавить книгу">
</form>

</body>
</html>